.well-box {
  min-height: 40px;
  padding-top: 8px;
  padding-bottom: 0px;
  padding-right: 8px;
  padding-left: 8px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: white;
  background-repeat: repeat-x;
  border: 1px solid #D4D4D4;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  overflow: hidden;
}

.legend-blank {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border: 0;
  border-bottom: none;
}

h1 {
  font-size: 38.5px;
}

.label {
  padding: 1px 4px 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

}

.table {
width: 100%;
margin-bottom: 0px;
}

input[type="text"]{
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

