<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tonerliste</title>
  <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 5px;
    }
  </style>
  <link href="css/style.css" rel="stylesheet">
  <link href="../lib/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>


  <div class="container"> 
    <h1>Tonerliste</h1>
     
    <div class="error"></div>
    <div class="page">
      <div class="toners"></div>
      <div class="drums"></div>
      <div class="items"></div>
    </div>
    
  </div>


  <script src="../lib/js/jquery-1.8.3.min.js" type="text/javascript"></script>
  <script src="../lib/js/bootstrap.min.js" type="text/javascript"></script>  
  <script src="../lib/js/underscore-min.js" type="text/javascript"></script>
  <script src="../lib/js/backbone-min.js" type="text/javascript"></script>

  <script type="text/template" id="toners-template">   
    <span class="label label-inverse">Toner</span>
    <div class="well-box">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Drucker</th>
            <th>Modell</th>
            <th>Farbe</th>
            <th>Anzahl</th>
            <th><a href="#new" class="btn btn-small btn-primary"><i class="icon-plus icon-white"></i> Neuen Toner</a></th>
          </tr>
        </thead>
        <tobdy>
          <% _.each(toners, function(toner){ %>
            <tr>
              <td><%- toner.get('printer') %></td>
              <td><%- toner.get('name') %></td>
              <td><%  var color = toner.get('color')%>
              <%- color==1 ? 'black' : '' %>
              <%- color==2 ? 'magenta' : '' %>
              <%- color==3 ? 'cyan' : '' %>
              <%- color==4 ? 'yellow' : '' %>
              <%- color==5 ? 'universal' : '' %></td>
              <td><%- toner.get('stock') %></td>
              <td>
                <div class="btn-group">
                  <a href="#minus" class="btn btn-small"><i class="icon-minus"></i></a>
                  <a href="#/edit/<%- toner.id %>" class="btn btn-small btn-inverse"><i class="icon-edit icon-white"></i> Details</a>
                  <a href="#plus" class="btn btn-small"><i class="icon-plus"></i></a>
                </div>
              </td>
            </tr>
          <% }); %>
        </tbody>
      <tables>
    </div>
  </script>  

  <script type="text/template" id="drums-template">    
    <span class="label label-inverse">Trommeln</span>
    <div class="well-box">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Drucker</th>
            <th>Modell</th>
            <th>Farbe</th>
            <th>Anzahl</th>
            <th><a href="#new/drum" class="btn btn-small btn-primary"><i class="icon-plus icon-white"></i> Neue Trommel</a></th>
          </tr>
        </thead>
        <tobdy>
          <% _.each(drums, function(drum){ %>
            <tr>
              <td><%- drum.get('printer') %></td>
              <td><%- drum.get('name') %></td>
              <td><%  var color = drum.get('color')%>
              <%- color==1 ? 'black' : '' %>
              <%- color==2 ? 'magenta' : '' %>
              <%- color==3 ? 'cyan' : '' %>
              <%- color==4 ? 'yellow' : '' %>
              <%- color==5 ? 'universal' : '' %></td>
              <td><%- drum.get('stock') %></td>
              <td>
                <div class="btn-group">
                  <a href="#minus" class="btn btn-small"><i class="icon-minus"></i></a>
                  <a href="#/edit/<%- drum.id %>" class="btn btn-small btn-inverse"><i class="icon-edit icon-white"></i> Details</a>
                  <a href="#plus" class="btn btn-small"><i class="icon-plus"></i></a>
                </div>
              </td>
            </tr>
          <% }); %>
        </tbody>
      <tables>
    </div>
  </script>


  <script type="text/template" id="items-template">   
    <span class="label label-inverse">Ausgeblendet</span>
    <div class="well-box">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Typ</th>
            <th>Drucker</th>
            <th>Modell</th>
            <th>Farbe</th>
            <th>Anzahl</th>
            <th></th>
        </thead>
        <tobdy>
        <% console.log(toners) %>
          <% _.each(toners, function(toner){ %>
            <tr>
              <td>Toner</td>
              <td><%- toner.get('printer') %></td>
              <td><%- toner.get('name') %></td>
              <td><%  var color = toner.get('color')%>
              <%- color==1 ? 'black' : '' %>
              <%- color==2 ? 'magenta' : '' %>
              <%- color==3 ? 'cyan' : '' %>
              <%- color==4 ? 'yellow' : '' %>
              <%- color==5 ? 'universal' : '' %></td>
              <td><%- toner.get('stock') %></td>
              <td>
                <div class="btn-group">
                  <a href="#minus" class="btn btn-small"><i class="icon-minus"></i></a>
                  <a href="#/edit/<%- toner.id %>" class="btn btn-small btn-inverse"><i class="icon-edit icon-white"></i> Details</a>
                  <a href="#plus" class="btn btn-small"><i class="icon-plus"></i></a>
                </div>
              </td>
            </tr>
          <% }); %>
          <% _.each(drums, function(drum){ %>
            <tr>
              <td>Trommel</td>
              <td><%- drum.get('printer') %></td>
              <td><%- drum.get('name') %></td>
              <td><%  var color = drum.get('color')%>
              <%- color==1 ? 'black' : '' %>
              <%- color==2 ? 'magenta' : '' %>
              <%- color==3 ? 'cyan' : '' %>
              <%- color==4 ? 'yellow' : '' %>
              <%- color==5 ? 'universal' : '' %></td>
              <td><%- drum.get('stock') %></td>
              <td>
                <div class="btn-group">
                  <a href="#minus" class="btn btn-small"><i class="icon-minus"></i></a>
                  <a href="#/edit/<%- drum.id %>" class="btn btn-small btn-inverse"><i class="icon-edit icon-white"></i> Details</a>
                  <a href="#plus" class="btn btn-small"><i class="icon-plus"></i></a>
                </div>
              </td>
            </tr>
          <% }); %>
        </tbody>
      <tables>
    </div>
  </script>

  <script>

    var Toners = Backbone.Collection.extend({
      url: '/api/tonerliste/toners'
    });

    var Drums = Backbone.Collection.extend({
      url: '/api/tonerliste/drums'
    });

    var TonerList = Backbone.View.extend({
      el: '.toners',
      render : function() {
        var that = this;
        var toners = new Toners();
        toners.fetch({
          success: function(toners){ 
            var template = _.template($('#toners-template').html(), {toners: toners.models});
            that.$el.html(template);
          },
          error: function(){}
        });
      }
    });

    var DrumList = Backbone.View.extend({
      el: '.drums',
      render : function() {
        var that = this;
        var drums = new Drums();
        drums.fetch({
          success: function(drums){ 
            var template = _.template($('#drums-template').html(), {drums: drums.models});
            that.$el.html(template);
          },
          error: function(){}
        });
      }
    });

    var ItemList = Backbone.View.extend({
      el: '.items',
      render : function() {
        var that = this;
        var toners = new Toners();
        var drums = new Drums();
        $.when(toners.fetch(),drums.fetch()).done(function(toners, drums){
            var template = _.template($('#items-template').html(), {toners: toners.models, drums: drums.models});
            that.$el.html(template);
        });     
      }
    });



    var Router = Backbone.Router.extend({
      routes: {
        '': 'home',
      }
    });

    var tonerList = new TonerList();
    var drumList = new DrumList();
    var itemList = new ItemList();

    var router = new Router;    

    router.on('route:home', function(){
      tonerList.render();
      drumList.render();
      itemList.render();
    });

    Backbone.history.start();

  </script>



</body>
</html> 



