<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tonerliste</title>
  <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 5px;
    }
  </style>
  <link href="css/style.css" rel="stylesheet">
  <link href="../lib/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>


  <div class="container"> 
    <h1>Tonerliste</h1>
     
    <div class="error"></div>
    <div class="page">
      <div class="toners"></div>
      <div class="drums"></div>
      <div class="items"></div>
    </div>
    
  </div>


  <script src="../lib/js/jquery-1.8.3.min.js" type="text/javascript"></script>
  <script src="../lib/js/bootstrap.min.js" type="text/javascript"></script>  
  <script src="../lib/js/underscore-min.js" type="text/javascript"></script>
  <script src="../lib/js/backbone-min.js" type="text/javascript"></script>

  <script type="text/template" id="error-template">
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Fehler!</h4>      
      <%- message %>
    </div>
  </script>

  <script type="text/template" id="toners-template">   
    <span class="label label-inverse">Toner</span>
    <div class="well-box">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th width="20%">Drucker</th>
            <th width="20%">Modell</th>
            <th width="20%">Farbe</th>
            <th width="20%">Anzahl</th>
            <th width="20%"><a href="#new/toner" class="btn btn-small btn-primary"><i class="icon-plus icon-white"></i> Neuen Toner</a></th>
          </tr>
        </thead>
        <tobdy>
          <% _.each(toners, function(toner){ %>
          <% if(toner.get('hidden')==0){ %>
            <tr>
              <td><%- toner.get('printer') %></td>
              <td><%- toner.get('name') %></td>
              <td><%  var color = toner.get('color')%>
              <%- color==1 ? 'Schwarz' : '' %>
              <%- color==2 ? 'Magenta' : '' %>
              <%- color==3 ? 'Cyan' : '' %>
              <%- color==4 ? 'Gelb' : '' %>
              <%- color==5 ? 'Universal' : '' %></td>
              <td><%- toner.get('stock') %></td>
              <td>
                <div class="btn-group">
                  <a href="#/stock/toner/<%- toner.id %>/2" class="btn btn-small"><i class="icon-minus"></i></a>
                  <a href="#/edit/toner/<%- toner.id %>" class="btn btn-small btn-inverse"><i class="icon-edit icon-white"></i> Details</a>
                  <a href="#/stock/toner/<%- toner.id %>/1" class="btn btn-small"><i class="icon-plus"></i></a>
                </div>
              </td>
            </tr>
          <% }}); %>
        </tbody>
      <tables>
    </div>
  </script>  

  <script type="text/template" id="drums-template">    
    <span class="label label-inverse">Trommeln</span>
    <div class="well-box">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th width="20%">Drucker</th>
            <th width="20%">Modell</th>
            <th width="20%">Farbe</th>
            <th width="20%">Anzahl</th>
            <th width="20%"><a href="#new/drum" class="btn btn-small btn-primary"><i class="icon-plus icon-white"></i> Neue Trommel</a></th>
          </tr>
        </thead>
        <tobdy>
          <% _.each(drums, function(drum){ %>
          <% if(drum.get('hidden')==0){ %>
            <tr>
              <td><%- drum.get('printer') %></td>
              <td><%- drum.get('name') %></td>
              <td><%  var color = drum.get('color')%>
              <%- color==1 ? 'Schwarz' : '' %>
              <%- color==2 ? 'Magenta' : '' %>
              <%- color==3 ? 'Cyan' : '' %>
              <%- color==4 ? 'Gelb' : '' %>
              <%- color==5 ? 'Universal' : '' %></td>
              <td><%- drum.get('stock') %></td>
              <td>
                <div class="btn-group">
                  <a href="#/stock/drum/<%- drum.id %>/2" class="btn btn-small"><i class="icon-minus"></i></a>
                  <a href="#/edit/drum/<%- drum.id %>" class="btn btn-small btn-inverse"><i class="icon-edit icon-white"></i> Details</a>
                  <a href="#/stock/drum/<%- drum.id %>/1" class="btn btn-small"><i class="icon-plus"></i></a>
                </div>
              </td>
            </tr>
          <% }}); %>
        </tbody>
      <tables>
    </div>
  </script>


  <script type="text/template" id="items-template">   
    <span class="label label-inverse">Ausgeblendet</span>
    <div class="well-box">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th width="20%">Typ</th>
            <th width="20%">Drucker</th>
            <th width="20%">Modell</th>
            <th width="20%">Farbe</th>
            <th width="20%"></th>
          </tr>
        </thead>
        <tobdy>
          <% _.each(toners, function(toner){ %>
          <% if(toner.get('hidden')==1){ %>
            <tr>
              <td>Toner</td>
              <td><%- toner.get('printer') %></td>
              <td><%- toner.get('name') %></td>
              <td><%  var color = toner.get('color')%>
              <%- color==1 ? 'Schwarz' : '' %>
              <%- color==2 ? 'Magenta' : '' %>
              <%- color==3 ? 'Cyan' : '' %>
              <%- color==4 ? 'Gelb' : '' %>
              <%- color==5 ? 'Universal' : '' %></td>
              <td>
                <div class="btn-group">
                  <a href="#/edit/toner/<%- toner.id %>" class="btn btn-small btn-inverse"><i class="icon-edit icon-white"></i> Details</a>
                </div>
              </td>
            </tr>
          <% }}); %>
          <% _.each(drums, function(drum){ %>
          <% if(drum.get('hidden')==1){ %>
            <tr>
              <td>Trommel</td>
              <td><%- drum.get('printer') %></td>
              <td><%- drum.get('name') %></td>
              <td><%  var color = drum.get('color')%>
              <%- color==1 ? 'Schwarz' : '' %>
              <%- color==2 ? 'Magenta' : '' %>
              <%- color==3 ? 'Cyan' : '' %>
              <%- color==4 ? 'Gelb' : '' %>
              <%- color==5 ? 'Universal' : '' %></td>
              <td>
                <div class="btn-group">
                  <a href="#/edit/drum/<%- drum.id %>" class="btn btn-small btn-inverse"><i class="icon-edit icon-white"></i> Details</a>
                </div>
              </td>
            </tr>
          <% }}); %>
        </tbody>
      <tables>
    </div>
  </script>

  <script type="text/template" id="new-toner-template">
    <form class="new-toner-form">
      <legend>Neuen Toner hinzufügen</legend>
        <label>Drucker</label>
        <input name="printer" type="text">
        <label>Modellname</label>
        <input name="name" type="text">
        <label>Farbe</label>
        <select name="color">
          <option>Schwarz</option>
          <option>Magenta</option>
          <option>Cyan</option>
          <option>Gelb</option>
          <option>Universal</option>
        </select>
        </br></br>
       <button type="submit" class="btn btn-success">Speichern</button>
       <a href="/tonerliste/" class="btn btn-small">Abbrechen</a>
    </form>
  </script>

  <script type="text/template" id="new-drum-template">
    <form class="new-drum-form">
      <legend>Neue Trommel hinzufügen</legend>
        <label>Drucker</label>
        <input name="printer" type="text">
        <label>Modellname</label>
        <input name="name" type="text">
        <label>Farbe</label>
        <select name="color">
          <option>Schwarz</option>
          <option>Magenta</option>
          <option>Cyan</option>
          <option>Gelb</option>
          <option>Universal</option>
        </select>
        </br></br>
       <button type="submit" class="btn btn-success">Speichern</button>
       <a href="/tonerliste/" class="btn btn-small">Abbrechen</a>
    </form>
  </script>

  <script type="text/template" id="edit-toner-template">
      <div class="span4">
        <form class="edit-toner-form">
          <legend>Toner Details</legend>
            <label>Drucker</label>
            <input name="printer" type="text" value=<%- toner.get('printer') %>>
            <label>Modellname</label>
            <input name="name" type="text" value=<%- toner.get('name') %>>
            <label>Farbe</label>
            <select name="color">
              <option <%- toner.get('color')==1 ? 'selected' : '' %>>Schwarz</option>
              <option <%- toner.get('color')==2 ? 'selected' : '' %>>Magenta</option>
              <option <%- toner.get('color')==3 ? 'selected' : '' %>>Cyan</option>
              <option <%- toner.get('color')==4 ? 'selected' : '' %>>Gelb</option>
              <option <%- toner.get('color')==5 ? 'selected' : '' %>>Universal</option>
            </select>
            <label>Sichbarkeit</label>
            <select name="hidden">
              <option <%- toner.get('hidden')==0 ? 'selected' : '' %>>Sichtbar</option>
              <option <%- toner.get('hidden')==1 ? 'selected' : '' %>>Versteckt</option>
            </select>
            </br></br>
          <input type="hidden" name="id" value="<%- toner.get('id') %>" />
           <button type="submit" class="btn btn-success">Speichern</button>
           <a href="/tonerliste/" class="btn btn-small">Abbrechen</a>
        </form>
        </div>
        <div class="span7">
          <legend>Transaktionen</legend>
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>Datum</th>
                <th>Aktion</th>
                <th>Benutzer</th>
                <th>Grund</th>
              </tr>
            </thead>
            <tobdy>
            <% _.each(transaction, function(trans){ %>
            <% var time = new Date(trans.date*1000) %>
              <tr>
                <td><%- time.getUTCDate() + '.' + time.getUTCMonth()+1  + '.' + time.getUTCFullYear() %></td>
                <td>
                <%- (trans.action==1) ? 'Stückzahl erhöht' : '' %>
                <%- (trans.action==2) ? 'Stückzahl verringert' : '' %>
                <%- (trans.action==3) ? 'Erstellt' : '' %>
                <%- (trans.action==4) ? 'Bearbeitet' : '' %>
                </td>
                <td><%- trans.user %></td>
                <td><%- trans.reason %></td>
              </tr>
            <% }); %>
            </tbody>
          </table>
        </div>
  </script>

   <script type="text/template" id="edit-drum-template">
    <div class="span4">
    <form class="edit-drum-form">
      <legend>Trommel Details</legend>
        <label>Drucker</label>
        <input name="printer" type="text" value=<%- drum.get('printer') %>>
        <label>Modellname</label>
        <input name="name" type="text" value=<%- drum.get('name') %>>
        <label>Farbe</label>
        <select name="color">
          <option <%- drum.get('color')==1 ? 'selected' : '' %>>Schwarz</option>
          <option <%- drum.get('color')==2 ? 'selected' : '' %>>Magenta</option>
          <option <%- drum.get('color')==3 ? 'selected' : '' %>>Cyan</option>
          <option <%- drum.get('color')==4 ? 'selected' : '' %>>Gelb</option>
          <option <%- drum.get('color')==5 ? 'selected' : '' %>>Universal</option>
        </select>
        <label>Sichbarkeit</label>  
        <select name="hidden">
          <option <%- drum.get('hidden')==0 ? 'selected' : '' %>>Sichtbar</option>
          <option <%- drum.get('hidden')==1 ? 'selected' : '' %>>Versteckt</option>
        </select>
        </br></br>
      <input type="hidden" name="id" value="<%- drum.get('id') %>" />
       <button type="submit" class="btn btn-success">Speichern</button>
       <a href="/tonerliste/" class="btn btn-small">Abbrechen</a>
    </form>
    </div>
    <div class="span7">
          <legend>Transaktionen</legend>
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>Datum</th>
                <th>Aktion</th>
                <th>Benutzer</th>
                <th>Grund</th>
              </tr>
            </thead>
            <tobdy>
            <% _.each(transaction, function(trans){ %>
            <% var time = new Date(trans.date*1000) %>
              <tr>
                <td><%- time.getUTCDate() + '.' + time.getUTCMonth()+1  + '.' + time.getUTCFullYear() %></td>
                <td>
                <%- (trans.action==1) ? 'Stückzahl erhöht' : '' %>
                <%- (trans.action==2) ? 'Stückzahl verringert' : '' %>
                <%- (trans.action==3) ? 'Erstellt' : '' %>
                <%- (trans.action==4) ? 'Bearbeitet' : '' %>
                </td>
                <td><%- trans.user %></td>
                <td><%- trans.reason %></td>
              </tr>
            <% }); %>
            </tbody>
          </table>
        </div>
  </script>

  <script type="text/template" id="stock-toner-template">
    <form class="stock-toner-form">
      <legend>Lagerbestand des Toners <%- toner.get('name') %> <%- action==1 ? 'erhöhen' : 'erniedrigen' %></legend>
        <label>Grund</label>
        <input name="reason" type="text">
        <input name="action" type="hidden" value="<%- action %>" />
        <input name="foo" type="hidden" value="<%- toner.get('id') %>" />
        </br></br>
       <button type="submit" class="btn btn-success">Speichern</button>
       <a href="/tonerliste/" class="btn btn-small">Abbrechen</a>
    </form>
  </script>

  <script type="text/template" id="stock-drum-template">
    <form class="stock-drum-form">
      <legend>Lagerbestand der Trommel <%- drum.get('name') %> <%- action==1 ? 'erhöhen' : 'erniedrigen' %></legend>
        <label>Grund</label>
        <input name="reason" type="text">
        <input name="action" type="hidden" value="<%- action %>" />
        <input name="foo" type="hidden" value="<%- drum.get('id') %>" />
        </br></br>
       <button type="submit" class="btn btn-success">Speichern</button>
       <a href="/tonerliste/" class="btn btn-small">Abbrechen</a>
    </form>
  </script>

  <script>

    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
    };

    var Toner = Backbone.Model.extend({
      urlRoot: '/api/tonerliste/toners'
    });

    var Drum = Backbone.Model.extend({
      urlRoot: '/api/tonerliste/drums'
    });

    var TonerInstance = Backbone.Model.extend({
      urlRoot: '/api/tonerliste/toner'
    });

    var TonerStock = Backbone.Model.extend({
      url: function(){
        return '/api/tonerliste/toner/' + this.get('foo') + '/transactions';
      }
    });

    var DrumStock = Backbone.Model.extend({
      url: function(){
        return '/api/tonerliste/drum/' + this.get('foo') + '/transactions';
      }
    });

    var DrumInstance = Backbone.Model.extend({
      urlRoot: '/api/tonerliste/drum'
    });

    var Toners = Backbone.Collection.extend({
      url: '/api/tonerliste/toners'
    });

    var Drums = Backbone.Collection.extend({
      url: '/api/tonerliste/drums'
    });

    var Error = Backbone.View.extend({  
      el: '.error'
    });

    var error = new Error();

    var TonerList = Backbone.View.extend({
      el: '.toners',
      render : function() {   
        var that = this;
        var toners = new Toners();
        toners.fetch({
          success: function(toners){ 
            var template = _.template($('#toners-template').html(), {toners: toners.models});
            that.$el.html(template);
          },
          error: function(model, response){
            var message = response.status + '(' + response.statusText + '): ' + response.responseText;
            var template = _.template($('#error-template').html(), {message: response.responseText});
            error.$el.html(template);
          }
        });
      }
    });

    var DrumList = Backbone.View.extend({
      el: '.drums',
      render : function() {
        var that = this;
        var drums = new Drums();
        drums.fetch({
          success: function(drums){ 
            var template = _.template($('#drums-template').html(), {drums: drums.models});
            that.$el.html(template);
          },
          error: function(model, response){
            var message = response.status + '(' + response.statusText + '): ' + response.responseText;
            var template = _.template($('#error-template').html(), {message: message});
            error.$el.html(template);
          }  
        });
      }
    });

    var ItemList = Backbone.View.extend({
      el: '.items',
      render : function() {
        var that = this;
        var toners = new Toners();
        var drums = new Drums();
        toners.fetch({
          success: function() {
            drums.fetch({
              success: function(){
                var template = _.template($('#items-template').html(), {toners: toners.models, drums: drums.models});
                that.$el.html(template);
              },
              error: function(model, response){
                var message = response.status + '(' + response.statusText + '): ' + response.responseText;
                var template = _.template($('#error-template').html(), {message: message});
                error.$el.html(template);
              }              
            });
          }
        });   
      }
    });

    var NewToner = Backbone.View.extend({
      el: '.page',
      events: {
        'submit .new-toner-form': 'newToner',
      },
      newToner: function (ev) {
        var tonerDetails = $(ev.currentTarget).serializeObject();
        var toner = new Toner(); 
        switch(tonerDetails.color){
          case 'Schwarz': tonerDetails.color=1; break;
          case 'Magenta': tonerDetails.color=2; break;
          case 'Cyan': tonerDetails.color=3; break;
          case 'Gelb': tonerDetails.color=4; break;
          case 'Universal': tonerDetails.color=5; break;
          default: break;
        }
        toner.save(tonerDetails, {
          success: function (toner) {
            router.navigate('', {trigger:true});
            window.location.reload();
          },
          error: function(model, response){
            var message = response.status + '(' + response.statusText + '): ' + response.responseText;
            var template = _.template($('#error-template').html(), {message: message});
            error.$el.html(template);
          } 
        });
        return false;
        },
        render: function () {    
          var template = _.template($('#new-toner-template').html(), {});
          this.$el.html(template);
        }
    });

    var NewDrum = Backbone.View.extend({
      el: '.page',
      events: {
        'submit .new-drum-form': 'newDrum',
      },
      newDrum: function (ev) {
        var drumDetails = $(ev.currentTarget).serializeObject();
        var drum = new Drum();
        switch(drumDetails.color){
          case 'Schwarz': drumDetails.color=1; break;
          case 'Magenta': drumDetails.color=2; break;
          case 'Cyan': drumDetails.color=3; break;
          case 'Gelb': drumDetails.color=4; break;
          case 'Universal': drumDetails.color=5; break;
          default: break;
        }
        drum.save(drumDetails, {
          success: function (toner) {
            router.navigate('', {trigger:true});
            window.location.reload();
          },
          error: function(model, response){
            var message = response.status + '(' + response.statusText + '): ' + response.responseText;
            var template = _.template($('#error-template').html(), {message: message});
            error.$el.html(template);
          }  
        });
        return false;
        },
        render: function () {    
          var template = _.template($('#new-drum-template').html(), {});
          this.$el.html(template);
        }
    });

    var EditToner = Backbone.View.extend({
      el: '.page',
      events: {
        'submit .edit-toner-form': 'editToner',
      },
      editToner: function(ev) {
        var tonerDetails = $(ev.currentTarget).serializeObject();
        switch(tonerDetails.color){
          case 'Schwarz': tonerDetails.color="1"; break;
          case 'Magenta': tonerDetails.color="2"; break;
          case 'Cyan': tonerDetails.color="3"; break;
          case 'Gelb': tonerDetails.color="4"; break;
          case 'Universal': tonerDetails.color="5"; break;
          default: break;
        }
        switch(tonerDetails.hidden){
          case 'Sichtbar': tonerDetails.hidden="0"; break;
          case 'Versteckt': tonerDetails.hidden="1"; break;
          default: break;
        }
        var toner = new TonerInstance(); 
        toner.save(tonerDetails, {  
          success: function (toner) {
            router.navigate('', {trigger:true});
            window.location.reload();
          },
          error: function(model, response){
            var message = response.status + '(' + response.statusText + '): ' + response.responseText;
            var template = _.template($('#error-template').html(), {message: message});
            error.$el.html(template);
          }  
        });
        return false;
      },
      render: function (tonerid) {
        var that = this;  
        var toner = new TonerInstance({id: tonerid.id});
        var transaction = new TonerInstance({id: tonerid.id});
        toner.fetch({
          success: function(){ 
            transaction.fetch({
              success: function(){  
                var template = _.template($('#edit-toner-template').html(), {toner: toner, transaction: transaction.get('transactions')});
                that.$el.html(template);
              },
              error: function(model, response){
                var message = response.status + '(' + response.statusText + '): ' + response.responseText;
                var template = _.template($('#error-template').html(), {message: message});
                error.$el.html(template);
              }  
            });
          }
        });
      }
    });

    var EditDrum = Backbone.View.extend({
      el: '.page',
      events: {
        'submit .edit-drum-form': 'editDrum',
      },
      editDrum: function(ev) {
        var drumDetails = $(ev.currentTarget).serializeObject();
        switch(drumDetails.color){
          case 'Schwarz': drumDetails.color="1"; break;
          case 'Magenta': drumDetails.color="2"; break;
          case 'Cyan': drumDetails.color="3"; break;
          case 'Gelb': drumDetails.color="4"; break;
          case 'Universal': drumDetails.color="5"; break;
          default: break;
        }
        switch(drumDetails.hidden){
          case 'Sichtbar': drumDetails.hidden="0"; break;
          case 'Versteckt': drumDetails.hidden="1"; break;
          default: break;
        }
        var drum = new DrumInstance(); 
        drum.save(drumDetails, {  
          success: function (drum) {
            router.navigate('', {trigger:true});
            window.location.reload();
          },
          error: function(model, response){
            var message = response.status + '(' + response.statusText + '): ' + response.responseText;
            var template = _.template($('#error-template').html(), {message: message});
            error.$el.html(template);
          }  
        });
        return false;
      },
      render: function (drumid) {      
        var that = this;  
        var drum = new DrumInstance({id: drumid.id});
        var transaction = new DrumInstance({id: drumid.id});
        drum.fetch({
          success: function(){
             transaction.fetch({
              success: function(){
                var template = _.template($('#edit-drum-template').html(), {drum: drum, transaction: transaction.get('transactions')});
                that.$el.html(template);
              },
              error: function(model, response){
                var message = response.status + '(' + response.statusText + '): ' + response.responseText;
                var template = _.template($('#error-template').html(), {message: message});
                error.$el.html(template);
              }  
            });
          },
          error: function(model, response){
            var message = response.status + '(' + response.statusText + '): ' + response.responseText;
            var template = _.template($('#error-template').html(), {message: message});
            error.$el.html(template);
          }  
        });
      }
    });

    var StockToner = Backbone.View.extend({
      el: '.page',
      events: {
        'submit .stock-toner-form': 'stockToner',
      },
      stockToner: function(ev){
        var tonerDetails = $(ev.currentTarget).serializeObject();
        var toner = new TonerStock(); 
        toner.save(tonerDetails, { 
          success: function (toner) {
            router.navigate('', {trigger:true});
            window.location.reload();
          },
          error: function(model, response){
            var message = response.status + '(' + response.statusText + '): ' + response.responseText;
            var template = _.template($('#error-template').html(), {message: message});
            error.$el.html(template);
          }  
        });
        return false;
      },
      render: function(args){
        var that = this;
        var toner = new TonerInstance({id: args.id});
        toner.fetch({
          success: function(){
            var template = _.template($('#stock-toner-template').html(), {toner: toner, action: args.action});
            that.$el.html(template);
          },
          error: function(model, response){
            var message = response.status + '(' + response.statusText + '): ' + response.responseText;
            var template = _.template($('#error-template').html(), {message: message});
            error.$el.html(template);
          }  
        });
      }
    });

    var StockDrum = Backbone.View.extend({
      el: '.page',
      events: {
        'submit .stock-drum-form': 'stockDrum',
      },
      stockDrum: function(ev){
        var drumDetails = $(ev.currentTarget).serializeObject();
        var drum = new DrumStock(); 
        drum.save(drumDetails, { 
          success: function (drum) {
            router.navigate('', {trigger:true});
            window.location.reload();
          },
          error: function(model, response){
            var message = response.status + '(' + response.statusText + '): ' + response.responseText;
            var template = _.template($('#error-template').html(), {message: message});
            error.$el.html(template);
          }  
        });
        return false;
      },
      render: function(args){
        var that = this;
        var drum = new DrumInstance({id: args.id});
        drum.fetch({
          success: function(){
            var template = _.template($('#stock-drum-template').html(), {drum: drum, action: args.action});
            that.$el.html(template);
          },
          error: function(model, response){
            var message = response.status + '(' + response.statusText + '): ' + response.responseText;
            var template = _.template($('#error-template').html(), {message: message});
            error.$el.html(template);
          }  
        });
      }
    });



    var Router = Backbone.Router.extend({
      routes: {
        '': 'home',
        'new/:type': 'newitem',
        'edit/:type/:id': 'edititem',
        'stock/:type/:id/:action': 'changestock'
      }
    });

    var tonerList = new TonerList();
    var drumList = new DrumList();
    var itemList = new ItemList();
    var newToner = new NewToner();
    var newDrum = new NewDrum();
    var editToner = new EditToner();
    var editDrum = new EditDrum();
    var stockToner = new StockToner();
    var stockDrum = new StockDrum();

    var router = new Router;    

    router.on('route:home', function(){
      tonerList.render();
      drumList.render();
      itemList.render();
    });


    router.on('route:newitem', function(type){
      switch(type){
        case 'toner' : newToner.render(); break;
        case 'drum' : newDrum.render(); break;
        default: console.log('Not defined new route!'); break;
      }
    });

    router.on('route:edititem', function(type, id){
      switch(type){
        case 'toner' : editToner.render({id: id}); break;
        case 'drum' : editDrum.render({id: id}); break;
        default: console.log('Not defined new route!'); break;
      }
    });

    router.on('route:changestock', function(type, id, action){
      switch(type){
        case 'toner' : stockToner.render({id: id, action: action}); break;
        case 'drum' : stockDrum.render({id: id, action: action});  break;
        default: console.log('Not defined new route!'); break;
      }
    });


    Backbone.history.start();

  </script>



</body>
</html> 



