<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tonerliste</title>
  <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 5px;
    }
  </style>
  <link href="css/style.css" rel="stylesheet">
  <link href="../lib/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>


  <div class="container"> 
    <h1>Tonerliste</h1>
    <div class="error"></div>
    <div class="page"></div>
  </div>


  <script src="../lib/js/jquery-1.8.3.min.js" type="text/javascript"></script>
  <script src="../lib/js/bootstrap.min.js" type="text/javascript"></script>  
  <script src="../lib/js/underscore-min.js" type="text/javascript"></script>
  <script src="../lib/js/backbone-min.js" type="text/javascript"></script>

  <script type="text/template" id="error-template">    
    <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Fehler!</strong> <%- error %>
    </div>   
  </script>

  <script type="text/template" id="toners-template">  
    <div class="well-box">
      <table class="table table-hover table-condensed">
        <p><a href="#new" class="btn btn-small btn-primary"><i class="icon-plus icon-white"></i> Modell hinzufügen</a>
        <% if(visibility==0){ %>
        <a href="#all" class="btn btn-info btn-mini"><i class="icon-eye-open icon-white"></i> Versteckte Einblenden</a></p>
        <% }else{ %>
        <a href="#" class="btn btn-info btn-mini"><i class="icon-eye-close icon-white"></i> Versteckte Ausblenden</a></p>
        <% } %>
        <thead>
          <tr>
            <th>Drucker</th>
            <th>Modell</th>
            <th>Farbe</th>
            <th>Anzahl</th>
            <th></th>
          </tr>
        </thead>
        <tobdy>
          <% _.each(toners, function(toner){ %>
          <% if(toner.get('hidden')==0||hidden==1){ %>
            <tr class="<%- toner.get('stock')>0&&toner.get('stock')<3 ? 'warning' :'' %>
            <%- toner.get('stock')==0 ? 'error' : '' %>">
              <td><%- toner.get('printer') %></td>
              <td><%- toner.get('name') %></td>
              <td><%- toner.get('typ')==1 ? 'Toner' : 'Trommel'  %></td>
              <td><%  var color = toner.get('color')%>
              <%- color==1 ? 'black' : '' %>
              <%- color==2 ? 'magenta' : '' %>
              <%- color==3 ? 'cyan' : '' %>
              <%- color==4 ? 'yellow' : '' %>
              <%- color==5 ? 'universal' : '' %></td>
              <td><%- toner.get('stock') %></td>
              <td>
                <div class="btn-group">
                  <a href="#/stock/<%- toner.id %>/2" class="btn btn-small"><i class="icon-minus icon"></i></a>
                  <a href="#/edit/<%- toner.id %>" class="btn btn-small btn-warning"><i class="icon-edit icon-white"></i> Ändern</a>
                  <a href="#/stock/<%- toner.id %>/1" class="btn btn-small"><i class="icon-plus"></i></a>
                </div>
              </td>
            </tr>
          <% }}); %>
        </tbody>
      <tables>
    </div>
  </script>

  <script type="text/javascript">
    var Toners = Backbone.Collection.extend({
      url: '/api/tonerliste/toners'
    });

    var TonerList = Backbone.View.extend({
      el: '.page',
      render : function(visibility) {
        var that = this;
        var toners = new Toners();
        toners.fetch({
          success: function(toners){ 
            var template = _.template($('#toners-template').html(), {toners: toners, visibility: visibility});
            that.$el.html(template);;
          },
          error: function(){
            var template = _.template($('#error-template').html(), {error: 'Request GET error in /api/tonerliste/toners'});
            that.$el.html(template);
          }
        });
      }
    });

    var Router = Backbone.Router.extend({
      routes: {
        '': 'home-hidden',
        'all': 'home-visible'
      }
    });

    var tonerList = new TonerList();

    var router = new Router;

    router.on('route:home-hidden', function(){
      tonerList.render(0);
    });

    router.on('route:home-visible', function(){
      tonerList.render(1);
    });

    Backbone.history.start();
  </script>


</body>
</html> 



